h1{
        background-color: rgb(46, 6, 88);
    color: white;
    text-align: center;
    border-radius: 20px;
    height: 50px;
    min-width: 500px;
    }
   
     .btn{
            
    height: 50px;
    width: 90px;
    border-radius:20px;
    background-color: blueviolet;
    color:white;
    font-weight:700;
    }
    .btn:hover{
        border:2px solid black;
        color:blueviolet;
        background-color: white;;
    }
    body{
    background-image: linear-gradient(to right,rgb(193, 142, 227),rgb(210, 130, 224));
    display:flex;
        align-items:center;
        flex-direction: column;
    }